@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Anek Telugu', sans-serif;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Anek Telugu', sans-serif;
}
